<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirstReposityApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>118835E41E1F42DC001AF330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>118835F81E1F42DC001AF330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>118836031E1F42DC001AF330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
